.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 125px;
    height: 30px;
}

.nav-links-list {
    display: flex;
    margin-left: 20px;
}

.nav-link {
    padding: 20px;
    cursor: pointer;
}

.nav-link.signup {
    background-color: #387ed1;
    color: #fff;
}

.hero-section {
    text-align: center;
}

.hero-image {
    width: 50%;
    height: auto;
}

.hero-title {
    font-weight: bold;
    font-size: 48px;
    color: #000;
    border: 8px solid #000;
}

.hero-subtitle {
    font-size: 24px;
    color: #666;
}

.hero-button {
    width: 150px;
    height: 50px;
    background-color: #387ed1;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.link {
    text-align: center;
    font-size: 18px;
    color: #666;
}